* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container-elements {
    display: flex;
    flex-direction: column;
}

.hero-banner, .random-info, .quote-section, .call-to-action, .footer {
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

.hero-banner, .footer {
    background-color: #1F2937;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    font-size: 24px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 75px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.nav-bar, .first-section-text {
    font-size: 18px;
    color: #E5E7EB;
}

.nav-logo {
    font-size: 24px;
    color: #f9faf8;
    width: 50%;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.first-section-text {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.first-section-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.first-section-text button {
    flex-grow: 0;
    align-self: start;
    margin-top: 20px;
}

.first-section-img {
    object-fit: contain; 
    min-width: 100px;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar, .first-section {
    width: 70%;
    margin: 0 auto;
}

.random-info {
    display: flex;
    flex-direction: column;
}

.random-info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.squares {
    display: flex;
    flex-direction: row;
    width: 80%; /*not sure why it's not aligned with .nav-bar and .first-section if I put 70%, seeing as the parents are in same hierarchy and width*/
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
}

.square img {
    border: 3.5px solid #3882F6;
    border-radius: 10px;
}


.squares figcaption {
    text-align: center;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-section p {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding-bottom: 10px;
}

.quote-footer {
    color:#1F2937;
    align-self: flex-end;
    padding-right: 200px; /*could not figure out a better way to align footer to above text...*/
    font-weight: 900;
}

.call-to-action-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.call-to-action {
    display: flex;
    flex-wrap: wrap;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    align-self: center;
    margin: 50px;
}

.call-to-action-text {
    padding: 20px;
}

.call-to-action-text h3 {
    font-size: 24px;
    font-weight: 900;
}

.call-to-action button {
    border:#E5E7EB 2px solid;
    align-self: center;
    margin-right: 20px;

}

.footer-text {
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}





@media only screen and (min-width: 481px) and (max-width: 768px) {


    .nav-bar, .nav-links{
        flex-direction: column;
    }
    .nav-bar, .first-section {
        width: 90%;
    }

    .first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .first-section-img {
        justify-content: flex-start;
        width: 80%;
    }
    .first-section-text {
        margin-bottom: -40px;
    }

    .random-info h1 {
        margin-right: 80px;
        margin-left: 80px;
    }
   

    .quote-section p {
        width: 70%;
    }

    .quote-section footer {
        padding-right: 40px;
    }

    .call-to-action button {
        align-self: center;
        margin-left: 20px;
        margin-bottom: 20px;
    
    }
}