* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-banner, .random-info, .quote-section, .call-to-action, .footer {
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
}

.hero-banner, .footer {
    background-color: #1F2937;
}

/*.hero-banner {
    height: 25vh;
}
*/

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    font-size: 24px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.first-section {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.nav-bar, .first-section-text {
    font-size: 18px;
    color: #E5E7EB;
}

.nav-logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.first-section-text {
    display: flex;
    flex-direction: column;
    
}

.first-section-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.first-section-text button {
    flex-grow: 0;
    align-self: start;
    margin-top: 20px;
}

.first-section-img {
    object-fit: contain;
    width: 70%;
    min-width: 100px;
    max-width: 500px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.random-info {
    display: flex;
    flex-direction: column;

    
    background-color: aqua;
    /*
    height: 25vh;
    */
}

.random-info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


.squares {
    display: flex;
    flex-direction: row;
    flex-basis: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    gap: 10px;
}

.square img {
    border: 2px solid #3882F6;
    border-radius: 10px;
}


.squares figcaption {
    text-align: center;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-section p {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding-bottom: 10px;
}

.quote-section footer {
    align-self: flex-end;
    padding-right: 200px; /*could not figure out a better way to align footer to above text...*/
    font-weight: 900;
}


/*
.quote-section {
    height: 25vh;
}

.call-to-action-footer-container {
    height: 25vh;
}
*/
.call-to-action-footer-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.call-to-action {
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
}

.call-to-action button {
    border: 2px solid #E5E7EB;
}

.call-to-action-footer-container .footer {
    color: #E5E7EB;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .first-section {
        display: flex;
        flex-direction: column;
        justify-content: center; /*why doesn't this have any effect?*/
    }

    .first-section-img {
        justify-content: flex-start;
        width: 80%;
    }
    .first-section-text {
        margin-bottom: -40px;
    }

    .quote-section footer {
     
        padding-right: 40px;
    }
}